<main class="card border-0  bg-black" role="main">
    <!--<Banner, Busca, Anunciantes>-->
    <!--Banner com textos sobrepostos-->
    <div class="card text-dark">
        <img class="card-img" src="~/images/bannerRascunhoAltura (2).png" />
    </div>
    <div class="card-img-overlay">
        <h1 class="card-title mx-4">CarTools</h1>
        <p class="card-text mx-4 ">
            Lorem ipsum dolor sit amet consectetur !<br />
            A <strong>Cartools</strong> edipiscing elit donec vel egestas dolor, nec dignissim metus!
        </p>
    </div>

    <div class="card-body m-3 anuncianteBusca bg-secondary ">

        <!--
        <div class="mt-3 card bg-transparent text-black">
            <div class="busca-regiao">
                <form class="form-busca">
                    <input type="text" id="regiao" placeholder="Encontre uma loja perto de você (endereço, bairro ou cidade)" />
                        <img type="submit" src="~/images/lupaBusca.png" alt="Busca por região" >
                </form>
            </div>
        </div>
        -->
        <!--Campo de busca e anunciantes - Bootstrap-->
        <div class="card bg-dark text-black" style="justify-content: space-evenly; font-size: 1.5em;">
            <!--<h2>Agende agora o tratamento que seu veículo merece!!</h2>-->
            <div class="row" style="justify-content: center;">
                <select class="custom-select custom-select-lg col-3 m-2">
                    <option selected>Serviço</option>
                    <option value="1">Lavagem Completa</option>
                    <option value="2">Polimento</option>
                    <option value="3">Higienização</option>
                    <option value="4">Cristalização Completa</option>
                    <option value="5">Hidratação de estofados</option>
                </select>

                <select class="custom-select custom-select-lg col-3 m-2">
                    <option selected>Localização</option>
                    <option value="1">Santo André</option>
                    <option value="2">São Bernardo do Campo</option>
                    <option value="3">São Caetano do Sul</option>
                    <option value="4">São Paulo</option>
                </select>

                <button type="button" class="btn btn-primary btn-md col-2 btn-block  m-2" style="font-size:0.7em; ">Pesquisar</button>
            </div>
        </div>

        <div class="card mt-3 mx-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/71.png" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Detail Garage</h3>
                        <p>Avenida Francisco Martins, 10, Maravilhas, Santo André - SP</p>
                        <h5>Lavagens | Higienização | Polimento | Vitrificação de pintura  |</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, aliquam animi cumque  .</p>

                        <button class="btn btn-primary">Ver Empresa (1)</button>

                        <a href="https://api.whatsapp.com/send?phone=5511960747570&text=Olá,%20gostaria%20de%20agendar%20um%20serviço.%20Qual%20é%20a%20sua%20disponibilidade%20?%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" />&nbsp;&nbsp;&nbsp;Agendar um serviço</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 mx-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/11.png" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Envelopa Cars</h3>
                        <p>Rua João Doe, 202, Alvarenga, São Bernardo do Campo - SP</p>
                        <h5>Envelopamento | Polimento | Cristalização |</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, aliquam animi cumque  .</p>

                        <button class="btn btn-primary">Ver Empresa (2)</button>

                        <a href="https://api.whatsapp.com/send?phone=5511953033392&text=Olá,%20quais%20datas%20de%20você%20tem%20disponível%20?%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" />&nbsp;&nbsp;&nbsp;Agendar um serviço</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 mx-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/41.png" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Company</h3>
                        <p>Avenida Gusmão, 350, Centro, São Paulo - SP</p>
                        <h5>Higienização | Lavagens| Polimento | Lavagem de motor |</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, aliquam animi cumque  .</p>

                        <button class="btn btn-primary">Ver Empresa (3)</button>

                        <a href="https://api.whatsapp.com/send?phone=5511966024534&text=Olá,%20gostaria%20de%20fazer%20um%20agendamento%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" />&nbsp;&nbsp;&nbsp;Agendar um serviço</a>

                        

                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 mx-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/lavagemCompleta.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">DM AutoCare</h3>
                        <p>Avenida Ribeiro do Vale, 230, Vila Alzira, Diadema - SP</p>
                        <h5>Lavagens | Higienização com ozônio | Vitrificação | Cristalização |</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, aliquam animi cumque  .</p>

                        <button class="btn btn-primary">Ver Empresa (4)</button>

                        <a href="https://api.whatsapp.com/send?phone=5511989222308&text=Olá,%20gostaria%20de%20agendar%20um%20serviço.%20Qual%20é%20a%20sua%20disponibilidade%20?%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" />&nbsp;&nbsp;&nbsp;Agendar um serviço</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>