@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <!--Botão Log out-->
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post"
         class="navbar-right">
        <ul class="nav navbar-nav">
            <button type="submit" style="width:auto" class="nav-link-underline-primary btn btn-link py-0 text-light">
                @User.Identity.Name<span>/Sair</span>
            </button>
        </ul>
    </form>
}
else
{
    <!--Log in-->
    <ul class="nav navbar-nav navbar-right ">
        <a class="nav-link-underline text-light" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color:black"><h4>Login</h4></a>
    </ul>

    <!--Sign in -->
    <ul class="nav navbar-nav navbar-right ">
        <a class="nav-link-underline text-light" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color:black"><h4>Sign in</h4></a>
    </ul>
}
