
<!--Area do Parceiro-->

<div class="container">
    <div class="jumbotron">
        <p>
            <h4>Esta é a área do Parceiro. Seja muito bem vindo!!!</h4>
        </p>
        <img src="~/images/paginaParceiro.png" alt="Área do Parceiro" class="marginTop1" />
    </div>
    <hr />
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>

