@model LoginViewModel


<div class="row" style="height: 600px; align-content: center;">
    <div class="card mx-auto align-content-center" style="width: 500px; border: 2px solid black;">
        <table class="table">
            <tr>
                <td>
                    <img src="~/images/login_cliente2.png" alt="login_Imagem" class="card-body d-flex align-items-center" />
                </td>
                <td>
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-between" style="align-items:center;">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" style="margin: 10px;" value="Login" />
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-alert text-light btn-primary" type="button" onclick="location.href='@Url.Action("Register", "Account")'">
                                    Cadastre-se
                                </button>
                            </div>

                        </div>
                        <div class="text-left">
                            <a href="#" class="btn btn-alert text-black">Esqueci minha senha</a>
                        </div>                       
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

