@model LoginViewModel


<div class="row" style="height: 600px; align-content: center;">
    <div class="card mx-auto align-content-center" style="width: 500px; border: 2px solid black;">
        <table class="table">
            <tr>
                <td>
                    <img src="~/images/login_cliente2.png" alt="login_Imagem" class="card-body d-flex align-items-center" />
                </td>
                <td>
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-between" style="align-items:center;">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" style="margin: 10px;" value="Login" />
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-alert text-light btn-primary" type="button" onclick="location.href='@Url.Action("Register", "Account")'">
                                    Cadastre-se
                                </button>
                            </div>

                        </div>
                        <div class="text-left">
                            <a href="#" class="btn btn-alert text-black">Esqueci minha senha</a>
                        </div>                       
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>


@*


                            <div class="dropdown col-md-6">
                                <button class="btn btn-alert text-light dropdown-toggle btn-primary " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Cadastre-se</button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Cliente</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Parceiro</a></li>
                                </ul>
                            </div>

@model LoginViewModel


<!--Formulário de Login-->

<div class="row" style="height: 600px; align-content: center;">
    <div class="card  mx-auto align-content-center" style="width: 500px; border: 2px solid black;">
        <table class="table">
            <tr>
                <td>
                    <img src="~/images/login_cliente2.png" alt="login_Imagem" class="card-body d-flex align-items-center" />
                </td>
                <td>
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal col-md-8">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-success d-flex justify-content-center" style="margin: 10px;" value="Login" />
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-danger asp-controller=" Account" asp-action="Register" d-flex justify-content-center" style="margin: 10px;" value="Cadastre-se" />
                                </div>

                            <div class="col-md-8">
                                <div class="dropdown">
                                    <button class="btn btn-alert text-black" type="button"  aria-expanded="false">Esqueceu a senha?</button>
                                    </div>

                            <div class="col-md-8">
                                <div class="dropdown">
                                    <button class="btn btn-alert dropdown-toggle text-black" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Cadastre-se</button>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">                  Cliente</a></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">
                                            Parceiro</a></li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

*@