@model LoginViewModel

<!--Formulário de Registro-->

<div class="row" style="height: 600px; align-content: center;">
    <div class="card  mx-auto align-content-center" style="width: 500px; border: 2px solid black;">
        <table class="table">
            <tr>
                <td>
                    <img src="~/images/registro1.png" alt="Registrar Usuário" width="80" height="80" />
                </td>
                <td>
                    <h4>Registrar usuário</h4>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Cadastrar" style="margin-top:7px;" />
                        </div>

                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

