@model ServicoListViewModel
<!--Banner com Campos de busca - select-->
<div id="banner" class="card text-dark" style="padding:10px; background-color:#CDD5C6">
    <div class="card-body" style="padding:0;">
        <!--
        <img class="card-img" src="~/images/bannerRascunhoAltura (2).png" />
        -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h1 class="card-title mx-4">CarTools</h1>
                <p class="card-text mx-4">
                    A <strong>Cartools</strong> traz praticidade para quem busca os serviços, e favorece as empresas parceiras.
                </p>
            </div>
            <div class="col-xs-13 col-sm-13 col-md-7 col-lg-5 col-xl-5">

                <div class="information-middle_banner">
                    <p>Encontre a loja mais perto de você.</p>
                    <p>Aplique o filtro ao lado de acordo com a sua necessidade!</p>
                </div>

                <div class="d-flex flex-column">
                    <form asp-controller="Servico" asp-action="Search" method="get">
                        <div class="d-flex flex-row" style="align-items:center;">
                            <select class="form-select form-select-sm mb-4 input_servico_custom-banner" name="searchString" aria-label=".form-select-sm example">
                                <option selected>Serviço</option>
                                <option value="Polimento">Polimento</option>
                                <option value="Cristalização">Cristalização</option>
                                <option value="Lavagem Simples">Lavagem Simples</option>
                                <option value="Martelinho de Ouro">Martelinho de Ouro</option>
                                <option value="Envelopamento">Envelopamento</option>
                                <option value="Pintura">Pintura</option>
                                <option value="OxiSanitização">OxiSanitização</option>
                                <option value="Higienização">Higienização</option>
                                <option value="Funilaria e Pintura">Funilaria e Pintura</option>
                            </select>
                            <select class="form-select form-select-sm mb-4 input_cidade_custom-banner" name="local" aria-label=".form-select-sm example">
                                <option selected>Cidade</option>
                                <option value="Santo André">Santo André</option>
                                <option value="São Bernardo do Campo">São Bernardo do Campo</option>
                                <option value="São Caetano do Sul">São Caetano do Sul</option>
                                <option value="São Paulo">São Paulo</option>
                            </select>
                            <button class="btn btn-primary btn-filtros" type="submit" style="float:left; width:100px; height:35px; margin:0 0 22px 10px;">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="filtro-ativo">
    <h2>@Model.LocalAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var servico in Model.Servicos)
        {
            <partial name="_ServicosResumo" for="@servico" />
        }
    </div>
</div>
</div>


