@model ServicoListViewModel



<div>
    <h2>@Model.CategoriaAtual</h2>
</div>
 
<div class="container">
<div class="row">

 @foreach(var servico in Model.Servicos)
{
  <partial name="_ServicosResumo" for="@servico"/>
}
</div>
</div>
 
