<!--Área do Administrador-->
<br />
<div class="container">
    <img src="~" alt="Área de Disponibilidade" class="marginTop1" />
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Disponibilidade!!</h2>
        </p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
