@model PlanoListViewModel

<div class="container">
    <div class="row p-3">
        @foreach (var plano in Model.PlanosPreferidos)
        {
            <partial name="_PlanosResumo" for="@plano" />
        }
    </div>

    <div class="container">
        <div class="jumbotron">
            <div class="anunciar">
                <h2>Benefícios de ser Parceiro</h2>
                <div class="cotainer_conteudo_anunciar">
                    <div>
                        <p>
                            O objetivo da plataforma CarTools é ajudar as Empresas Parceiras a conseguir captar um maior número de clientes. Com o nosso sistema de planos você pode contratar o que for melhor para o seu uso,
                            e se beneficiar do que temos a oferecer.
                        </p>
                        <p>
                            Você terá a sua página, onde poderá incluir os serviços prestados pela sua empresa de estética automotiva, não se preocupe pois é simples de utilizar!
                        </p>
                        <p>
                            O Sistema de anúncios da Cartools é totalmente automatizado. Você se cadastra e tem acesso a um painel de controle com uma área de membros onde você poderá:
                        </p>
                        <ul>
                            <li>Cadastrar seus serviços</li>
                            <li>Editar seus Anúncios</li>
                            <li>Efetuar pagamentos dos planos</li>
                            <li>E muito mais...</li>
                        </ul>
                        <div class="container_img_anunciar">
                            <img class="container-fluid" src="~/images/imgBenvindo.png" />
                        </div>
                        <p>
                            Assine agora e comece a anunciar seus serviços no Portal de Serviços de Estética Automotiva - CarTools, e conquiste novos clientes em potencial!
                            <a asp-area="" asp-controller="Home" asp-action="Index">Clique aqui e cadastre-se</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="anunciar">
            <h2>Como Funciona a CarTools para empresas?</h2>
            <div class="cotainer_conteudo_anunciar"> 
                <div>
                    <p>
                        Você vai colocar basicamente alguns dados complementares da sua empresa e algumas imagens para representar a sua empresa e os seus serviços prestados. Com os dados necessários e as imagens do seu negócio, você estará disponível para buscas na plataforma e os clientes irão ver a sua empresa (envie as fotos que representem o seu negócio).
                    </p>
                    <p>
                        Você poderá ter, como consequência, mais clientes devido a divulgação no portal CarTools, conseguindo ter uma maior visibilidade no mercado, sendo localizado com uma maior facilidade.
                    </p>
                    <p>
                        Hoje em dia as pessoas buscam coisas ágeis e simples de resolver, conseguimos trazer potenciais clientes até o seu negócio, como resultado as pessoas interessadas vão visualizar os seus serviços detalhadamente e solicitar uma agendamento com apenas alguns “clicks”.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

