@model PlanoListViewModel

<div>
    <h2>@Model.TipoAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var plano in Model.Planos)
        {
            <partial name="_PlanosResumo" for="@plano" />
        }
    </div>
</div>