@model PlanoListViewModel

<div class="container">
    <div class="row">
        @foreach (var plano in Model.PlanosPreferidos)
        {
            <partial name="_PlanosResumo" for="@plano" />
        }
    </div>

    <!--
    <div id="pagina">
        <div class="anuncie">
            <h1>Anuncie</h1>
            <h2>Cadastre-se e anuncie:</h2>
            <p>
                Nossa motivação consiste em ajudar as empresas PARCEIRAS a conseguir captar um maior número de clientes com o menor esforço possível. <br /><br />

                O Sistema de anúncios da Cartools é totalmente automatizado. Você se cadastra e tem acesso a um painel de controle com uma área de membros onde você poderá: <br /><br />
                &raquo; Cadastrar seus serviços<br />
                &raquo; Incluir fotos<br />
                &raquo; Criar e Editar seus Anúncios<br />
            </p>
            <p>
                Assine agora e comece a anunciar seus serviços no maior portal de Estética Automotiva da web!<br />
            </p>
        </div>
    </div>
    -->
</div>

<a asp-area="" asp-controller="Home" asp-action="Index">Voltar à Home</a>                        <li>e muito mais... </li>
                    </ul>
                    <div class="anuncie-imagem">
                        <img src="~/images/imgBeneficios.png" />
                    </div>
                <p>
                    Assine agora e comece a anunciar seus serviços no Portal de Serviços de Estética Automotiva - CarTools, e conquiste novos clientes em potencial!
                    <a asp-area="" asp-controller="Home" asp-action="Index">Clique aqui e cadastre-se</a>.
                </p>
            </div>
        }
    </div>
</div>

<div class="jumbotron mt-5">
    <div class="planos">
        <div class="plano">
            <h3>Mensal</h3><br />
            <p>R$<strong>74,90</strong>/mês</p>
            <p>Descrição: O plano mensal oferece...</p> <br />
            <button class="btnPlano">Assinar</button>
        </div>
        <div class="plano">
            <h3>Semestral</h3><br />
            <p>R$ <strong>64,90</strong>/mês</p>
            <p>Descrição: O plano semestral oferece...</p> <br />
            <button class="btnPlano">Assinar</button>
        </div>
        <div class="plano">
            <h3>Anual</h3><br />
            <p>R$ <strong>49,90</strong>/mês</p>
            <p>Descrição: O plano anual oferece...</p> <br />
            <button class="btnPlano">Assinar</button>
        </div>
    </div>
</div>
<a asp-area="" asp-controller="Home" asp-action="Index">Voltar à Home</a>