@model IEnumerable<Cartools.Models.Plano>

    <div>
        <h2>Todos os planos</h2>    
    </div>
@foreach (var plano in Model)
{

    <h4><img src=" @plano.PlanoImagem" /></h4>
    <h4>@plano.PlanoNome</h4>
    <h4>@plano.PlanoDescricao</h4>
    <h4>@plano.PlanoPreco</h4>
}


<div class="jumbotron">
    <div class="beneficios">
        <div id="pagina">
            <div class="anuncie">
                <h2>Cadastre-se e anuncie:</h2><br />
                <h2>
                    Nossa motivação consiste em ajudar as empresas PARCEIRAS a conseguir captar um maior número de clientes com o menor esforço possível. <br /><br />

                    O Sistema de anúncios da Cartools é totalmente automatizado. Você se cadastra e tem acesso a um painel de controle com uma área de membros onde você poderá:
                </h2><br />
                <ul>
                    <li>&raquo; Cadastrar seus serviços </li>
                    <li>&raquo; Editar seus Anúncios</li>
                    <li>&raquo; Responder mensagens </li>
                    <li>&raquo; Efetuar pagamentos </li>
                    <li>&raquo; Alterar seus dados </li>
                    <li>&raquo; e muito mais... </li>
                </ul>
                <h3>
                    Assine agora e comece a anunciar seus serviços no maior portal de Estética Automotiva da web!<br />

                </h3>
            </div>
        </div>
        <img src="~/images/imgBeneficios.png" />

        <form name="cadastra_cliente" id="cadastra_cliente" method="post" action="index.php?pg=anunciar_ok" enctype="multipart/form-data">

            <fieldset>
                <legend>Cadastre-se e Anuncie</legend>

                <label>
                    <span>Nome Completo:</span>
                    <input type="text" name="nome" />
                </label>

                <label>
                    <span>E-mail:</span>
                    <input type="text" name="email" />
                </label>

                <label>
                    <span>Senha:</span>
                    <input type="password" name="senha" />
                </label>

                <label>
                    <span>Telefone:</span>
                    <input type="text" name="telefone" />
                </label>


                <input type="submit" name="cadastracliente" value="Cadastrar" class="btn" />


            </fieldset>

        </form>
    </div>
</div>

<a asp-area="" asp-controller="Home" asp-action="Index">Voltar à Home</a>