@model HomeViewModel        


<h2>Os preferidos da semana</h2>

<h4>Estudando a pagina de Anuncio + Carrinho de Compras</h4>

<h3>Ver aula 62 e anteriores </h3>

<div class="row">
    @foreach(var servico in Model.ServicosPreferidos)
    {
        <partial name="_ServicosResumo" for="@servico"/>
    }
</div>



<partial name="_Inicial" />