@model HomeViewModel
<!--Dropdown Agendamento - DataPicker  -->
<div>
    <div class="dropdown">
        <input class="btn btn-success dropdown-toggle" type="datetime" id="calendario" placeholder="Agendar visita" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
        <div class="dropdown-menu" aria-labelledby="calendario">
            <!-- Adicione opções do dropdown aqui, se necessário -->
        </div>
    </div>
    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $("#calendario").datepicker({
                    dateFormat: "dd/mm/yy"
                });
            });
        </script>
    }
</div>






<h2>Os preferidos da semana</h2>

<h4>Estudando a pagina de Anuncio + Carrinho de Compras</h4>

<h3>Ver aula 62 e anteriores </h3>

<div class="row">
    @foreach(var servico in Model.ServicosPreferidos)
    {
        <partial name="_ServicosResumo" for="@servico"/>
    }
</div>


<!--
-->
    <partial name="_Inicial" />
