<br />
<div class="container">
    <div class="jumbotron ">        
        <div class="sobrenos">
            <p>
                <h2>Nossa Missão</h2>
            </p>
            <br />
            <p>
                A Car Tools será uma Plataforma de Intermediação de Serviços de Estética Automotiva.<br><br>

                Notamos que no mercado não há um aplicativo focado específicamente para este meio, daí surgiu a ideia de suprir a necessidade dos clientes desse nicho.<br><br>

                A Plataforma será desenvolvida para ajudar os Parceiros/Empresas a conseguir captar um maior número de clientes. E para Usuários que buscam por estes serviços específicos será um meio de agendar e buscar locais confiáveis para realizar serviços em seus veículos.
            </p>
            <img src="~/images/missao.png" alt="Sobre nós" class="marginTop1">
        </div>
    </div>
    <div class="jumbotron">        
        <div class="sobrenos">
            <p>
                <h2>Nossa História</h2>
            </p>
            <p>
                A CarTools é uma Plataforma de Intermediação  de Serviços de EStética Automotiva.<br><br>
                Notamos que no mercado não há um aplicativo focado específicamente para este meio, daí surgiu a ideia de suprir a necessidade dos clientes desse nicho.<br><br>
                A Plataforma será desenvolvida para ajudar os Parceiros/Empresas do ramo a conseguir captar um maior número de clientes. E para Usuários que buscam por estes serviços específicos, será um meio de buscar locais confiáveis para realizar serviços em seus veículos e fazer o agendamento pelo próprio site.
            </p>
            <img src="~/images/historia.png" alt="Sobre nós" class="marginTop1">
        </div>
    </div>
<a asp-area="" asp-controller="Home" asp-action="Index">Volta à Home Page</a>
</div>