<div class="container">
    <div class="jumbotron">
        <div class="sobrenos">
            <h2>Nossa História</h2>
            <div class="container-conteudo">
                <div>
                    <p>
                        A Car Tools é uma Plataforma de Intermediação de Serviços de Estética Automotiva.
                    </p>
                    <p>
                        Notamos que no mercado não há um aplicativo focado específicamente para este meio, daí surgiu a ideia de suprir a necessidade dos clientes desse nicho.
                    </p>
                    <p>
                        A Plataforma foi desenvolvida para ajudar os Parceiros/Empresas a conseguirem captar potenciais clientes. E para Usuários que buscam por estes serviços específicos será um meio de agendar e buscar locais confiáveis para realizar serviços em seus veículos.
                    </p>
                </div>
                <img src="~/images/historia.png" alt="Sobre nós" class="marginTop1">
            </div>
        </div>
    </div>

    <div class="jumbotron">        
        <div class="sobrenos">
            <h2>Nossa Missão</h2>
            <div class="container-conteudo">
                <div>
                    <p>
                        Tudo hoje é possível realizar de maneira ágil e rápida, em apenas alguns “clicks”. Observando-se esses avanços, foi idealizado um software anúncios de serviços automotivos, onde as pessoas poderão verificar os serviços que a empresa diponibiliza, filtrar pela localização e tipo de serviço, e caso houver interesse o usuário poderá realizar o agendamento do serviço.
                    </p>
                    <p>
                        As empresas do nicho de serviços de estética automotiva, após assinarem um plano poderão anunciar sua empresa na plataforma, detalhando os seus serviços prestados e outras informações relevantes. Todos buscam uma boa experiência, tanto o consumidor, quanto o provedor do serviço prestado, o intuito da plataforma é trazer essa praticidade para ambas as partes envolvidas.
                    </p>
                    <p>
                        O propósito do Portal CarTools, é trazer aos clientes que buscam os serviços de estética automotiva, informações que precisam com mais transparência e detalhes relevantes sobre as empresas e seus serviços. E para as empresas desse ramo, diponibilizar o portal para elas divulgarem os seus serviços e conseguirem alcançar potenciais clientes com a ajuda da plataforma. 
                    </p>
                </div>
                <img src="~/images/missao.png" alt="Sobre nós" class="marginTop1">
            </div>
        </div>
    </div>
</div>