<div class="row mx-5" style="width: 100%; height: 300px; align-content: center;">

    <h1>
        <br /><br />
        Tirar os links de busca do menu de navegação inicial e usar esta página como uma <span> partial view </span>para<br /> fazer as buscas sem misturar os conteúdos e sem perder a página de busca de vista.<br /><br />
    </h1>

    <form class="form-horizontal text-dark" asp-action="BuscaRegiao">
        <fieldset>

            <legend><b>Busca por região</b></legend>


            <!--
            <div class="form-group">
                <label for="CategoriaNome" class="col-lg-3 control-label">Serviço</label>
                <div class="col-lg-4">
                    <input type="search" name="CategoriaNome" class="form-control" />
                </div>
            </div>
            -->
            <div class="form-group">
                @await Component.InvokeAsync("LocalMenu")
            </div>

            <div class="form-group">
                @await Component.InvokeAsync("ServicoMenu")
            </div>
            <div class="form-group justify-content-md-evenly">
                <div class="col-lg-6 col-lg-offset-2">
                    <button type="submit" class="bnt btn-primary mx-3 my-2">Pesquisar</button>
                    <button type="submit" class="bnt btn-success">Agendar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<br />
<br />
<br />
<br />



<!--Encontre a loja mais próxima(tela)

<div class="row" style="height: 600px; align-content: center;">
    <div class="card  mx-auto align-content-center" style="width: 500px; border: 2px solid black;">
        <table class="table">
            <tr>
                <td>
                    <img src="~/images/login_cliente2.png" alt="login_Imagem" class="card-body d-flex align-items-center" />
                </td>
                <td>
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-6 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-success d-flex justify-content-center" style="margin: 10px;" value="Login" />
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

-->
