:root {
    --color-lightgray: #D9D9D9;
    --color-white: #fff;
    --color-darkgray: #383939;
    --color-black: #1F2024;
    --color-gray: #A6A6A6;
    --color-greenbutton: #DBF227;
    --color-bluebutton: #0087CC;
    --color-lightblue: #59B5D9;
    --color-greendark: #157347;
    --color-greenlight: #568C54;
}

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    width:100%;
    height: 100%;
    margin-bottom: 60px;
    background-color: #d1d3d4;
    padding: 0 20px;
}

@media (min-width: 768px) {
  html {font-size: 16px;}
}

.anuncianteBusca{
 border-radius: 15px;
}

.btnempresa {
    background-color: var(--color-black);
    border-radius: 9px;
    color: var(--color-white);
    margin-top: 20px;
    margin-left: 40px;
    width: 150px;
    height: 50px;
}
.barraNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-black);
    background-color: deepskyblue;
}
.btnPlano {
    background-color: var(--color-greenbutton);
    width: 180px;
    height: 40px;
    border-radius: 5px;
}

.form-busca {
    height: 50px;
    border: solid var(--color-black) 2px;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    margin: 5px;
}
.informacoes {
    margin: 10px 30px;
}
.informacoes a {
        color: var(--color-black);
}
main {
    display: flex;
    flex-direction: row;
}

.planos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 30px);
}
.plano {
    border: solid var(--color-black) 3px;
    width: 300px;
    text-align: center;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
    background-color: var(--color-white);
}
.plano p:nth-of-type(2) {
    font-size:30px;
}
.parcPlans {
    background-color: var(--color-gray);
}
.parcPlans h2{
    margin-left: 80px;
}
#regiao {
    width: 100%;
}


/*--------------------------------------------------------------------------------------*/
/*Página*/


body {
    background-color: var(--color-darkgray);
}
/* Conteúdo Página */
#box {
    width: 860px;
    margin: 0 auto;
    background-color: var(--color-white);
}

/*PÁGINA*/
#pagina {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

/*--------------------------------------------------------------------------------------*/
/* PÁGINA - 'Home' */

/* Card-empresa - configurando apenas o texto da descrição detalhada */

.conteudo-card-empresa {
    padding: 10px;
    height: 100%;
}

    .conteudo-card-empresa h1 a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 2rem;
        font-weight: 700;
    }
    .conteudo-card-empresa h2 a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 1.5rem;
        font-weight: 600;
    }
        .conteudo-card-empresa h1 a:hover,
        .conteudo-card-empresa h2 a:hover {
            color: var(--color-gray);
            transition: 0.5s;
        }

    .conteudo-card-empresa h2 {
        margin-top: 10px;
    }

    .conteudo-card-empresa .descricao-detalhada-empresa p {
        text-align: justify;
    }
    .conteudo-card-empresa .preco-estimado-servico-empresa {
        margin-bottom: 15px;
    }

    /* Estilaização dos botões 'Agendar Serviço' e "Ícone do Whats" no card de Serviços da Página Home */
    .container-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: baseline;
    }
        .container-btn-whats .btn-whats img {
            width: 30px;
            height: auto;
        }
            .container-buttons .btn-whats img:hover {
                opacity: 50%;
                transition: 0.5s;
            }

        /* Criando um configurações customizadas para modificar a estilização do botão 'Agendar Serviço', para configurar na linha de estilização BootStrap */
        .btn_custom-agendar_servico {
           width: 200px;
           height: 50px;
           font-size: 1rem;
           font-weight: 600;
           padding: 10px;
           margin-right: 15px;
           background-color: var(--color-bluebutton);
           border: 2px solid var(--color-bluebutton);
        }
            .btn_custom-agendar_servico:hover {
                background-color: var(--color-lightblue);
                border: 2px solid var(--color-bluebutton);
                transition: 0.5s;
            }

    /* Criando um display custom para configurar a div-container dos cards, na linha de estilização BootStrap, 
        para padronizar o tamanho dos cards independente do tamanho dos conteúdos de cada um.
    */
    .div-card_custom {
        display: flex;
    }



/*--------------------------------------------------------------------------------------*/
/* PÁGINA - 'Ver Empresa' (Details.cshtml) */

.container-ver_empresa {
    padding: 35px;
}

    .conteudo-ver_empresa .container-title-ver_empresa h1 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 15px;
    }

    .conteudo-ver_empresa {
        background-color: var(--color-lightgray);
        border-radius: 10px;
    }

    .container-title-ver_empresa {
        display: flex;
        justify-content: center;
    }

    .label-para-nome_da_empresa,
    .label-para-nome_do_servico {
        display: flex;
        justify-content: center;
        background-color: var(--color-darkgray);
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }

    .label-para-nome_do_servico {
        margin-top: 20px;
    }

    .label-para-nome_da_empresa h1,
    .label-para-nome_do_servico h1 {
        color: var(--color-white);
        font-size: 2.2rem;
        font-weight: bold;
    }

    .card-block {
        padding: 15px;
    }

    .card-block .container-title-ver_empresa h2 {
        font-size: 1.6rem;
        margin-top: 15px;
        font-weight: 600;
    }

    

    /* Estilaização dos botões 'Voltar ao menu de serviços', 'Agendar Serviço' e "Ícone do Whats" no card de Serviços da Página Ver Empresa */
    .container-buttons-ver_empresa {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: baseline;
        margin-top: 20px;
    }
   

    .container-buttons-ver_empresa .container-btn-whats .btn-whats img {
        width: 30px;
        height: auto;
    }

        .container-buttons-ver_empresa .btn-whats img:hover {
            opacity: 50%;
            transition: 0.5s;
        }

/* Criando um configurações customizadas para modificar a estilização do botão 'Voltar' e 'Agendar Serviço', para configurar na linha de estilização BootStrap */
    .btn_custom-voltar {
        width: 200px;
        height: 50px;
        background-color: var(--color-darkgray);
        color: var(--color-white);
        font-size: 1rem;
        font-weight: 600;
        padding: 10px;
        margin-right: 15px;
        border: 2px solid var(--color-gray);
    }
        .btn_custom-voltar:hover {
            background-color: var(--color-lightgray);
            border: 2px solid var(--color-gray);
            color: var(--color-black);
            transition: 0.5s;
        }


/*--------------------------------------------------------------------------------------*/
/* PÁGINAS - 'Ver Empresa' e 'Home' -> utilizam essa estilização */
/* Criando um rounded custom para configurar a borda da imagem, para configurar na linha de estilização BootStrap */
.img-custom {
    border-radius: 10px;
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--color-darkgray);
}

/*--------------------------------------------------------------------------------------*/
/* Página - 'Sobre Nós' */
.sobrenos {
    font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    border-radius: 0 30px;
    border: solid black 1px;
    margin: 30px auto;
    padding: 30px;
}

    .sobrenos .container-conteudo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

.container-conteudo > div {
    flex: 1;
    margin-right: 20px;
}

.sobrenos h2 {
    font: 40px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.sobrenos .container-conteudo p {
    margin-bottom: 30px;
    text-align: justify;
}

.sobrenos .container-conteudo img {
    max-width: 80%;
    width: 450px;
    height: auto;
}

/* 'Media Query' - para telas menores que 800px */
@media screen and (max-width: 800px) {
    .container-conteudo {
        flex-direction: column;
    }

        .container-conteudo > div {
            margin-right: 0;
        }

    .sobrenos h2 {
        font: 25px "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .sobrenos {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
}

/*--------------------------------------------------------------------------------------*/

#calendario::placeholder {
    color: var(--color-white);
    font-weight: bold;
    font-size: 15px;
}


/*--------------------------------------------------------------------------------------*/
/* PÁGINA - Anunciar */

/* Container para alinhar o título: 'Todos os Planos' */
.container-planos-titulo {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px 10px 30px;
}

    .container-planos-titulo h1 {
        font: 35px "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: 800;
    }

    #pagina form {
        width:50%;
        padding: 10px;
        background: #999;
        float: right;
    }
/* Criando um rounded custom para configurar a borda dos cards de planos, para configurar na linha de estilização BootStrap */
.rounded-custom {
    border-radius: 10px;
}

/* Container abaixo dos tipos de planos, com as informações dos benefícios de ser parceiro CarTools */
.beneficios {
    border-radius: 0 30px;
    border: solid var(--color-black) 2px;
    font-size: 18px;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
}

#pagina {
    background: pink;
    padding: 30px;
    margin-bottom: 5px;
    font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: justify;
}


    #pagina .anuncie {
        float: left;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        background: pink;
    }
        #pagina .anuncie h2 {
            font: 40px "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
        }
        #pagina .anuncie p {
            font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: lighter;
            text-align: justify;
        }

    /* Imagem - Benefícios, presente na página 'Anunciar' */
    .anuncie-imagem {
        display: flex;
        justify-content: center;
    }
    .anuncie-imagem img {
        max-width: 80%;
        width: 450px;
        height: auto;
        box-sizing: border-box;
     }

    /* 'Media Query' - para telas menores que 800px */
    @media screen and (max-width: 800px) {

        #pagina .anuncie h2 {
            font: 25px "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
        }
        #pagina .anuncie p {
            font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
        #pagina .anuncie {
            font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
        
    }
/*--------------------------------------------------------------------------------------*/

    /* PÁGINA - paginador */
    #pagina .paginador {
        display: block;
        float: right;
        margin: 10px 0 5px 0;
    }

    #pagina .anuncie_ok h2 {
        font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: var(--color-bluebutton);
        text-transform: uppercase;
        margin: 0 0 5px 0;
    }

    #pagina .anuncie_ok p {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #392a5e;
        margin: 10px;
    }

    #pagina .anuncie_ok a {
        font-weight: bold;
        color: #f30;
    }

    #pagina .paginador a {
        padding: 3px 5px;
        margin: 0 1px;
        border: 1px solid #069;
        font-weight: bold;
    }

        #pagina .paginador a:hover {
            background: #069;
            color: #571515;
            text-decoration: none;
        }

    #pagina .enviado {
        font: 16px Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 5px;
        color: var(--color-bluebutton);
        background: #fff;
        margin: 0 0 10px 0;
    }

    #pagina .error {
        font: 14px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #900;
    }

/* Banner 
#banner{
    background-image: url(~/images/imgBeneficios.png)
}
*/
/*--------------------------------------------------------------------------------------*/

.form-inline {
    display:flex;
}
.pull-right{
    float:left;
}

.benvindo {
    /*
    width: 100%;
    display:flex;
    */
    float:right;
}
.precoPlano {
    font-size: 10px;
    
}