html {
    position: relative;
    min-height: 100%;
  font-size: 14px;
}

body {
    width:100%;
    height: 100%;
    margin-bottom: 60px;
    background-color: #d1d3d4;
    padding: 0 20px;
}

@media (min-width: 768px) {
  html {font-size: 16px;}
}

.anuncianteBusca{
 border-radius: 15px;
}

.beneficios {
    border-radius: 0 30px;
    border: solid black 1px;
    font-size: 18px;
    margin: 20px 80px 30px 80px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}
.btnempresa {
    background-color: black;
    border-radius: 9px;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    width: 150px;
    height: 50px;
}
.barraNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: deepskyblue;
}
.btnPlano {
    background-color: yellow;
    width: 180px;
    height: 40px;
    border-radius: 5px;
}
footer {
    /* background-color: pink; */
}
.form-busca {
    height: 50px;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    margin: 5px;
}
.informacoes {
    margin: 10px 30px;
}
.informacoes a {
        color: black;
}
main {
    display: flex;
    flex-direction: row;}
.planos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 30px);
}
.plano {
    border: solid black 3px;
    width: 300px;
    text-align: center;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
    background-color: #ffffff;
}
.plano p:nth-of-type(2) {
    font-size:30px;
}
.parcPlans {
    background-color: gray;
}
.parcPlans h2{
    margin-left: 80px;
}
#regiao {
    width: 100%;
}
.sobrenos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 0 30px;
    border: solid black 1px;
    text-align: center;
    margin: 30px auto;
    padding: 30px;
    align-content:center;
}
.sobrenos img {
    width: 400px;
}
#calendario::placeholder {
    color: white;
    font-weight:bold;
    font-size: 15px;
}

/*--------------------------------------------------------------------------------------*/
/*Página*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #383939;
}
/* Conteúdo Página */
#box {
    width: 860px;
    margin: 0 auto;
    background-color: #fff;
}


/* Header*/
#header {
    border-bottom: 5px solid #383939;
    height: 316px;
    background-color: lightgreen;
}

#header_topo {
    height: 60px;
    border-bottom: 5px solid black;
}

    #header_topo img {
        float: left;
        margin: 10px;
    }

    #header_topo ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    }

        #header_topo ul li {
            display: inline;
            font: 18 "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            float: left;
        }

            #header_topo ul li a {
                padding: 5px 25px;
                float: left;
                text-decoration: none;
                margin: 15px 10px;
                color: #069;
            }

                #header_topo ul li a:hover {
                    background-color: #993300;
                    color: #fff;
                }



/* Header Anunciantes*/
#header_navegar {
    width: 860px;
    height: 255px;
    background-color: burlywood;
}

#header_navegar_central {
    width: 235px;
    float: left;
}

#header_navegar_central_login {
    width: 235px;
    height: 122px;
    background-color: pink;0,

    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

    #header_navegar_central_login form {
        margin: 35px 0 0 5px;
    }

    #header_navegar_central_login label {
        display: block;
        margin: 0 0 2px 0;
    }

    #header_navegar_central_login span {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #069;
        width: 55px;
        float: left;
        text-align: right;
        margin-right: 2px;
    }

    #header_navegar_central_login input {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #069;
        width: 141px;
        height: 16px;
        border: 1px solid #069;
        padding: 2px;
        background-color: #fff;
    }

    #header_navegar_central_login .senha {
        width: 90px;
        margin: 3px 0 0 0;
    }

    #header_navegar_central_login .btn {
        width: 50px;
        height: 40px;
        float: right;
        background: url("./imagens/login4.png") no-repeat;
        border: none;
        cursor: pointer;
        margin: 3px 20px 0 0;
    }

        #header_navegar_central_login .btn:hover {
            background: url("./imagens/login6.png") no-repeat;
            margin-top: 0;
        }

    #header_navegar_central_login .senha_text {
        margin: 3px 2px 0 0;
    }

    #header_navegar_central_login p {
        text-align: center;
        font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #069;
        margin: 5px 0 0 20px;
    }

        #header_navegar_central_login p a {
            color: #069;
            text-decoration: none;
        }

            #header_navegar_central_login p a:hover {
                color: rgb(25, 22, 227);
                font: 14px sans-serif;
            }

/* Header Anuncie */
#header_navegar_central_anuncie {
    width: 235px;
    height: 123px;
    background: yellow;
    float: left;
    margin-left: 10px;
}

.header_navegar_central_anuncie {
    margin: 40px 0 0 10px;
    float: left;
}

#header_navegar_central_anuncie a {
    background: url("./imagens/anuncie_btn2.png") no-repeat;
    width: 126px;
    height: 19px;
    float: left;
    text-decoration: none;
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
    padding: 7px 10px 5px 10px;
    margin-left: 50px;
    display: block;
    border-radius: 8px;
    text-align: center;
}

    #header_navegar_central_anuncie a:hover {
        color: rgb(25, 22, 227);
        font-size: 11px;
    }

#header_navegar_central_anuncie p {
    font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666;
    float: left;
    width: 209px;
    padding: 8px 8px 0 0;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
}

#header_navegar_filtro {
    background-color: lightblue ;
    float: left;
    width: 414px;
    height: 250px;
    margin-top: 10px;
}

    #header_navegar_filtro h1 {
        margin: 15px 0 0 115px;
        font: 29px Georgia, "Times New Roman", Times, serif;
        font-weight: bold;
        color: #069;
    }

    #header_navegar_filtro h2 {
        text-align: right;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #069;
        margin-right: 5px;
    }

    #header_navegar_filtro form {
        float: left;
        margin: 20px 0 0 15px;
        color: #069;
    }

    #header_navegar_filtro select {
        border: 1px solid #069;
        background-color: #fff;
        width: 175px;
        height: 25px;
        margin: 0 8px 13px 0;
        font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        font-weight: bold;
    }

    #header_navegar_filtro .categoria {
        width: 198px;
    }

    #header_navegar_filtro span {
        font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        font-weight: bold;
        float: left;
        margin: 15px 0 0 0;
    }

    #header_navegar_filtro .btn {
        padding: 5px 10px;
        cursor: pointer;
        font: 20px Georgia, "Times New Roman", Times, serif;
        font-weight: bold;
        color: #069;
        font-variant: small-caps;
        float: right;
        margin: 5px 13px 0 0;
    }

#header_navegar_publicidade {
    width: 200px;
    height: 240px;
    float: right;
    padding: 5px;
    margin-top: 5px;
    
}

    #header_navegar_publicidade h1 {
        font: 16px Georgia, "Times New Roman", Times, serif;
        font-weight: bold;
        font-variant: small-caps;
        color: #069;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid #069;
    }

/* Conteúdo index */
#imoveis_home {
    width: 860px;
    height: 520px;
    background: url(./imagens/lista_home_bg3.png) top no-repeat;
    border-bottom: 5px solid #383939;
    padding: 0 0 32px;
}

    #imoveis_home h1 {
        float: left;
        margin: 5px 65px;
        font: 32px Arial, Helvetica, sans-serif;
        color: #383939;
        font-weight: bold;
    }

    #imoveis_home form {
        float: right;
        margin-right: 5px;
    }

    #imoveis_home label {
        display: block;
    }

    #imoveis_home span {
        font: 16px Georgia, "Times New Roman", Times, serif;
        color: #fff;
        border: 0;
    }

    #imoveis_home input {
        padding: 2px 5px 4px 5px;
        width: 386px;
        height: 24px;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: rgb(2, 24, 35);
        font-weight: bold;
        border: none;
        background-color: rgb(231, 227, 230);
        border-radius: 8px;
    }

    #imoveis_home .btn {
        width: 86px;
        height: 31px;
        color: rgb(2, 24, 35);
        cursor: pointer;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    #imoveis_home a {
        text-decoration: none;
    }

        #imoveis_home a:hover {
            text-decoration: underline;
        }

    #imoveis_home .anuncie {
        width: 430px;
        float: left;
    }
    /* Lista um*/
    #imoveis_home .lista_um {
        list-style: none;
        float: left;
        width: 860px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #cccccc;
    }

        #imoveis_home .lista_um li {
            display: inline;
            list-style: none;
            float: left;
            text-align: center;
            margin: 5px 4px;
        }

            #imoveis_home .lista_um li:hover {
                background-color: rgb(227, 238, 237);
            }

            #imoveis_home .lista_um li h2 a {
                font: 16px Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #742709;
            }

            #imoveis_home .lista_um li h3 a {
                font: 14px Arial, Helvetica, sans-serif;
                color: #333;
            }

            #imoveis_home .lista_um li .veja_mais {
                font: 14px Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #333;
                width: 98px;
                height: 15px;
                float: left;
                /* background: url(./imagens/lista_g_btn.png)  ;*/
                background-color: #c6c0c0;
                padding: 5px;
                margin: 4px 48px;
                text-align: center;
                border-radius: 8px;
            }

                #imoveis_home .lista_um li .veja_mais:hover {
                    color: #993300;
                }

    /* Lista dois*/
    #imoveis_home .lista_dois {
        list-style: none;
        float: left;
        width: 430px;
    }

        #imoveis_home .lista_dois li {
            display: inline;
            list-style: none;
            float: left;
            text-align: center;
            margin: 5px 4px;
        }

            #imoveis_home .lista_dois li:hover {
                background-color: rgb(227, 238, 237);
            }

            #imoveis_home .lista_dois li h2 a {
                font: 16px Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #742709;
            }

            #imoveis_home .lista_dois li h3 a {
                font: 14px Arial, Helvetica, sans-serif;
                color: #333;
            }

            #imoveis_home .lista_dois li .veja_mais {
                font: 14px Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #333;
                width: 98px;
                height: 15px;
                float: left;
                /* background: url(./imagens/lista_g_btn.png)  ;*/
                background-color: #c6c0c0;
                padding: 5px;
                margin: 4px 48px;
                text-align: center;
                border-radius: 8px;
            }

                #imoveis_home .lista_dois li .veja_mais:hover {
                    color: #993300;
                }

/* Categorias dos imóveis */
/* Lista (footer) */
#imoveis_home_lista {
    width: 860px;
    padding: 0;
    float: left;
}

    #imoveis_home_lista a {
        text-decoration: none;
    }

        #imoveis_home_lista a:hover {
            text-decoration: underline;
        }

    #imoveis_home_lista ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        background: #c6c0c0;
    }

        #imoveis_home_lista ul li {
            display: inline;
            float: left;
            text-align: center;
            margin: 5px 6px 5px 5px;
        }

            #imoveis_home_lista ul li:hover {
                background-color: #f4f4f4;
            }

            #imoveis_home_lista ul li h1 {
                font: 16px Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #993300;
            }

            #imoveis_home_lista ul li h2 {
                font: 14px Arial, Helvetica, sans-serif;
                color: #333;
            }

            #imoveis_home_lista ul li .veja_mais {
                font: 14px Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #993300;
                float: left;
                width: 77px;
                height: 17px;
                padding: 5px;
                margin: 5px 37px 0 37px;
                background-color: #c6c0c0;
                border-radius: 8px;
                text-align: center;
            }


/* footer */
#clear {
    clear: both;
}

#footer {
    width: 860px;
    height: 100px;
    margin: 0 auto;
    background: #fff;
}

#footer_bg {
    background-color: #f3f7f8;
    height: 88px;
    float: left;
    margin: 5px 0 5px 10px;
    border-radius: 8px;
    border: 1px solid #333;
}

    #footer_bg .txt {
        float: left;
        padding: 10px 0 0 20px;
        text-align: center;
        font: 25px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #993300;
    }

    #footer_bg .img {
        float: right;
        padding: 20px 30px 0 0;
    }

    #footer_bg span {
        display: block;
        color: #9099;
        width: 720px;
    }

/*PÁGINA*/
#pagina {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    float: left;
    width: 840px;
}

    #pagina h1 {
        font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #005789;
        font-weight: bold;
        padding: 5px;
        background: #f4f4f4;
        margin-bottom: 10px;
        font-variant: small-caps;
    }

    #pagina form {
        width: 500px;
        padding: 10px;
        background: #999;
        float: right;
    }

    #pagina a {
        text-decoration: none;
        color: #069;
        font-weight: bold;
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

        #pagina a:hover {
            text-decoration: underline;
            color: #930;
        }

    #pagina label {
        display: block;
        margin-bottom: 5px;
    }

    #pagina span {
        display: block;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #fff;
        font-weight: bold;
    }

    #pagina input {
        border: 1px solid #333;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        padding: 3px;
        width: 494px;
    }

    #pagina textarea {
        border: 1px solid #333333;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        padding: 3px;
        width: 494px;
    }

    #pagina fieldset {
        font: 18px Georgia, "Times New Roman", Times, serif;
        font-weight: bold;
        color: #fff;
        padding-bottom: 10px;
        font-variant: small-caps;
    }

    #pagina .btn {
        width: 100px;
        padding: 3px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        color: #666;
        background: #fff;
    }

        #pagina .btn:hover {
            background: #999;
            border: 1px solid #fff;
            color: #333;
        }

    #pagina .anuncie {
        width: 310px;
        float: left;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
    }

        #pagina .anuncie p {
            margin: 10px 0;
        }

        #pagina .anuncie h2 {
            font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #333;
            font-variant: small-caps;
        }

        #pagina .anuncie a {
            color: #063;
        }

            #pagina .anuncie a:hover {
                color: #F60;
            }
    /*PÁGINA paginador*/
    #pagina .paginador {
        display: block;
        float: right;
        margin: 10px 0 5px 0;
    }

    #pagina .anuncie_ok h2 {
        font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #069;
        text-transform: uppercase;
        margin: 0 0 5px 0;
    }

    #pagina .anuncie_ok p {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #392a5e;
        margin: 10px;
    }

    #pagina .anuncie_ok a {
        font-weight: bold;
        color: #f30;
    }

    #pagina .paginador a {
        padding: 3px 5px;
        margin: 0 1px;
        border: 1px solid #069;
        font-weight: bold;
    }

        #pagina .paginador a:hover {
            background: #069;
            color: #571515;
            text-decoration: none;
        }

    #pagina .enviado {
        font: 16px Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 5px;
        color: #069;
        background: #fff;
        margin: 0 0 10px 0;
    }

    #pagina .error {
        font: 14px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #900;
    }

#single .error {
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #900;
}
/* SINGLE navegar */
#single {
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
    float: left;
    width: 840px;
}

    #single h1 {
        font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #005789;
        font-variant: small-caps;
        padding: 5px;
        background: #f4f4f4;
        margin-bottom: 10px;
    }

    #single .navegar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: lef;
    }

        #single .navegar ul li {
            display: inline;
            float: left;
            margin: 5px 5px 15px;
            font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #666;
        }

            #single .navegar ul li a {
                color: #666;
            }

                #single .navegar ul li a:hover {
                    color: #930;
                }

            #single .navegar ul li img {
                float: left;
                margin-right: 5px;
            }

    #single .exibicao {
        padding: 5px;
        border: 1px solid #999;
        background: #f4f4f4;
    }

    /* SINGLE carousel*/
    #single .carousel {
        display: block;
        margin: 5px 0 0 1px;
        padding: 0;
        list-style: none;
    }

        #single .carousel img {
            margin: 0;
            padding: 0;
        }

            #single .carousel img:hover {
                background: #930;
            }

        #single .carousel li {
            display: inline;
            float: left;
            margin: 0 4px 0 0;
            width: 65px;
            height: 49px;
            padding: 1px;
            border: 1px solid #999;
            overflow: hidden;
            list-style: none;
        }

            #single .carousel li:hover {
                border: 2px solid rgb(99, 8, 160);
            }

        #single .carousel .nav {
            width: auto;
            height: auto;
            border: 0;
            padding: 0;
        }

            #single .carousel .nav:hover {
                border: none;
            }
    /* SINGLE left*/
    #single .single_left {
        width: 414px;
        float: left;
        padding: 5px;
    }

    #single .icon {
        float: left;
        margin-right: 5px;
    }

    #single .single_left form {
        float: left;
        padding: 10px;
        background: #CEF;
        width: 394px;
        margin-top: 10px;
    }

    #single .single_left fieldset {
        border: none;
    }

    #single .single_left .legend {
        font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    #single .single_left span {
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #333;
        font-variant: small-caps;
        display: block;
    }

    #single .single_left input {
        display: block;
        padding: 5px;
        width: 384px;
        border: 1px solid #999;
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #999;
    }

    #single .single_left textarea {
        display: block;
        padding: 5px;
        width: 384px;
        border: 1px solid #999;
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #999;
    }

    #single .single_left label {
        display: block;
        margin: 5px 0;
    }

    #single .single_left .btn {
        width: 100px;
        height: 30px;
        color: #069;
        font-weight: bold;
        margin: 0 auto;
        cursor: pointer;
    }

        #single .single_left .btn:hover {
            color: #FFF;
            background: #069;
        }

    /* single right */
    #single .single_right {
        width: 400px;
        float: right;
        padding: 5px;
    }

        #single .single_right h4 {
            font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #999;
            font-variant: small-caps;
        }

    #single .info {
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #930;
        padding: 5px;
        float: left;
        width: 390px;
        background: #f4f4f4;
    }

        #single .info strong {
            color: #333;
        }

    #single .descricao {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #666;
        margin: 10px 0;
        float: left;
        width: 400px;
    }

    #single .itens ul {
        list-style: square;
        margin: 0 20px;
        font: 14px Georgia, "Times new Roman", times, serif;
        color: #069;
        float: left;
        width: 400px;
    }

        #single .itens ul li {
            margin: 3px 0;
        }

    #single .facilidades {
        font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #333;
        float: left;
        width: 400px;
    }

        #single .facilidades strong {
            font-variant: small-caps;
            margin: 10px 0;
            float: left;
            width: 400px;
            font-size: 18px;
        }

    #single .endereco {
        padding: 10px;
        background: #333;
        color: #FFF;
        float: left;
        width: 380px;
        margin: 10px 0;
        font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    #single .google {
        width: 336px;
        height: 280px;
        float: left;
        padding: 0 32;
    }