<!--Busca por cidade/Local (fora de uso no momento) -->
<div class="dropdown">

    <a class="btn btn-secondary dropdown-toggle" role="button"
       id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Busca por região
    </a>

    <ul class="dropdown-menu">
        @foreach (var local in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Servico" asp-action="List" style="color:black" asp-route-local="@local.Cidade">
                    @local.Cidade
                </a>
            </li>
        }
        <li class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item" asp-controller="Servico" asp-action="List" asp-route-local="" style="color:black">
               Todas as Cidades
            </a>
        </li>
    </ul>
</div>




