<!-- Modal de erro -->
<div id="modalErro" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Erro!</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Houve um erro ao salvar as datas e horários. Por favor, tente novamente.
            </div>
            <div class="modal-footer">
                <button id="btnErroOK" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
