﻿<!-- _ModalHours.cshtml -->
<div id="modalHoras" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Definir horários disponíveis</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <button id="btnAdicionarHora" class="btn btn-primary" disabled title="Clique para adicionar campos de horas" style="cursor: not-allowed;">+</button>
            </div>
            <div class="modal-footer">
                <button id="btnCancelarHoras" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnSalvarHoras" type="button" class="btn btn-primary">Salvar Horas</button>
            </div>
        </div>
    </div>
</div>