<!-- Conteúdo do _SelectedDates.cshtml -->
<p style="margin-top: 7px; margin-bottom: 7px;">Datas selecionadas:</p>
<div class="datas-selecionadas" id="datasSelecionadas">
    <div class="data-column" id="column1"></div>
    <div class="data-column" id="column2"></div>
</div>
<button id="btnSelecionarHoras" class="btn btn-primary" style="margin-top: 20px;" disabled>Definir horários</button>
