﻿<!-- _SuccessModal.cshtml -->
<div id="modalSucesso" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sucesso!</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                As datas e horários foram salvos com sucesso.
            </div>
            <div class="modal-footer">
                <button id="btnSucessoOK" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>